.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .form {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.inputs_wrapper {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

@media (min-width: 768px) {
  .inputs_wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
  }
}

.checkbox_wrapper {
  display: flex;
  align-self: flex-start;
}

.checkbox_wrapper > h2 {
  margin: 0 0 0 10px;
}

.important {
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .important {
    font-size: 1.5rem;
  }
}

.buttons_wrapper {
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media (min-width: 576px) {
  .buttons_wrapper {
    margin: 0 0 0 auto;
    gap: 30px;
  }
}
