.item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .item {
    flex-wrap: initial;
    font-size: 1.5rem;
  }
}

.overdue {
  color: var(--color-accent);
}

.title_wrapper {
  width: 100%;
}

@media (min-width: 768px) {
  .title_wrapper {
    width: initial;
  }
}

.title_wrapper_lite {
  flex: 1;
}

.important {
  color: var(--color-primary);
}

.done {
  color: darkgray;
  text-decoration: line-through;
}

.done .important {
  color: darkgray;
}

.date_box {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.date {
  margin-right: 10px;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .date {
    font-size: 1.2rem;
  }
}

.button {
  border: 0;
  margin-left: 5px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.4;
}

.button:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .button:first-of-type {
    margin-left: 20px;
  }
}

.icon {
  width: auto;
  height: 20px;
}
