.item {
  display: flex;
  align-items: flex-start;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.done { 
  color: darkgray;
  text-decoration: line-through;
}

.important {
  color: limegreen;
}
.done .important{ 
  color: darkgray;
}

.date_box {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.date {
  margin-right: 10px;
  font-size: 1.2rem;
}
