.header {
  background-color: var(--color-header-bg);
  padding: 20px 0;
  transition: background-color .2s;
}

.container {
  display: flex;
}

.title {
  margin: 0;
  width: fit-content;
  font-family: 'Kalam', cursive;
  color: var(--color-header-title);
}