.header {
  background-color: var(--color-card-bg);
  padding: 20px 0;
}

.container {
  display: flex;
}

.title {
  margin: 0;
  width: fit-content;
  font-family: 'Kalam', cursive;
  color: var(--color-secondary);
}