.calendars_wrapper {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

@media (min-width: 992px) {
  .calendars_wrapper {
    flex-direction: row;
  }
}
