.quote {
  margin: 0 0 45px;
  text-align: center;
  color: var(--color-card-header-title);
  font-size: 1.3rem;;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .quote {
    font-size: 2rem;
    line-height: 1;
  }
}

.calendars_wrapper {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

@media (min-width: 992px) {
  .calendars_wrapper {
    flex-direction: row;
  }
}
