@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');

:root {
	--checkbox-size: 30px;
  --color-primary: darkslateblue;
  --color-secondary: #ba2988;
  --color-accent: #ff5f25;
  --color-accent-2: limegreen;
}

body {
  margin: 0;
  font-family: 'Kalam', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-primary);
  background: var(--color-secondary);
  background: linear-gradient(
    90deg,
    var(--color-secondary) 0%,
    var(--color-accent) 100%
  );
  min-height: 100vh;
}

.bold {
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  max-width: calc(100% - 60px);
  margin: 0 auto;
}

main {
  margin: 60px 0 60px 0;
}
