@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');

:root {
	--checkbox-size: 32px;
  --color-primary: #00DC82;
  --color-primary-light: #4DE7A8;
  --color-secondary: #098466;
  --color-bg1: #001E26;
  --color-bg2: #003543;
  --color-text: #003543;
  --color-accent: #28AAF0;
  --color-card-bg: #E6FCF3;
  --color-switch-off: #00DC82;
  --color-switch-on: #003543;
}

body {
  margin: 0;
  font-family: 'Kalam', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  background: var(--color-bg1);
  background: linear-gradient(
    90deg,
    var(--color-bg1) 0%,
    var(--color-bg2) 100%
  );
  min-height: 100vh;
}

.bold {
  font-weight: bold;
}

.container {
  width: 1200px;
  max-width: calc(100% - 60px);
  margin: 0 auto;
}

main {
  margin: 60px 0 60px 0;
}
